# Others
[Bb]in
[Oo]bj
*.Cache
~$*

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

#My
*.exe
logs
settings.ini
cache*
debug.log